.details {
    width: 80%;
    padding-left: 2rem;

    &-unselected {
        width: 80%;
        padding-left: 2rem;
        text-align: center;
        margin-top: 20%;
        font-size: 18px;
    }
}

.save-button {
    display: block;
    margin: 0 auto;
}

.username>input {
    margin-top: 2rem;
    width: 55%;
    height: 30px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 5px;
}

.other-user-info {
    display: flex;

    &>.other-user-info-container {
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 5rem;
        
        &>div>label {
            display: inline-block;
            width: 100px;
        }

        &>div>input {
            width: 85%;
            height: 30px;
            border-radius: 4px;
            margin: 5px 0;
            outline: none;
            border: 1px solid #000;
            padding-left: 5px;
        }

    }

}

.user-avatar>img {
    width: 10em;
    margin-right: 2rem;
}